# PostgreSQL connection
DB_HOST=172.26.160.1
DB_PORT=5432
DB_NAME=frauddb
DB_USER=postgres
DB_PASSWORD=your_password_here

# Kafka connection
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_TOPIC=mpesa_transactions

# MLflow tracking server
MLFLOW_TRACKING_URI=http://localhost:5000

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000